@using CensoErgonomico.Domain.Models;
@model Setor;
@{
    ViewData["Title"] = "Censo ergonômico - Registro de setor";
}

<section class="col-8 mx-auto">
    <h1> @ViewData["Title"]</h1>
    <div class="mt-2">
        @await Html.PartialAsync("_MessageResult")
    </div>
    <form id="form-setor" asp-controller="Setor" asp-action="Create" method="POST">
        <div class="form-group">
            <label asp-for="Nome" class="control-label"> Nome </label>
            <input id="input-codigo-servico" type="text" asp-for="Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button id="btn-cadastrar" class="btn bg-shark text-black" style="width: 7rem;">Cadastrar</button>
        </div>
    </form>
</section>
