@using CensoErgonomico.Domain.DTOs;
@model PessoaDTO;
@{
    ViewData["Title"] = "Registro de Pessoa";
}

<section >
    <h1> @ViewData["Title"]</h1>
    <div class="mt-2">
        @await Html.PartialAsync("_MessageResult")
    </div>
    <form id="form-pessoa" asp-controller="Pessoa" asp-action="Create" method="POST">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="nome" class="control-label"> Nome </label>
                    <input id="input-nome" type="text" asp-for="nome" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="cpf" class="control-label"> CPF </label>
                    <input id="input-cpf" type="text" asp-for="cpf" />
                    <span asp-validation-for="cpf" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="dataNascimento" class="control-label"> Data de Nascimento</label>
                    <input id="input-dataNascimento" type="datetime-local" asp-for="dataNascimento" />
                    <span asp-validation-for="dataNascimento" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group flex-grow-1">
                    <label asp-for="sexo" class="control-label">Sexo</label>
                    <select asp-for="sexo" class="form-control">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3">Outro</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button id="btn-cadastrar" class="btn bg-shark text-black" style="width: 7rem;">Cadastrar</button>
        </div>
    </form>
</section>
