@{

}
<section>
    <div class="container p-2 mb-5">
        <div class="mt-3">
            @await Html.PartialAsync("_MessageResult")
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <a id="reg-pessoa" class="col cardi">
                <div class="m-1 p-2 rounded" style="max-width: 300px;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="/img/ancestors.png" class="img-fluid rounded-start img-top" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body pt-1">
                                <h3 class="card-title">Pessoas</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a id="reg-colaborador" class="col cardi">
                <div class="m-1 p-2 rounded" style="max-width: 300px;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="/img/employers.png" class="img-fluid rounded-start img-top" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body pt-1">
                                <h3 class="card-title">Colaboradores</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a id="reg-funcao" class="col cardi">
                <div class="m-1 p-2 rounded" style="max-width: 300px;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="/img/activity.png" class="img-fluid rounded-start img-top" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body pt-1">
                                <h3 class="card-title">Funções</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a id="reg-setor" class="col cardi">
                <div class="m-1 p-2 rounded" style="max-width: 300px;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="/img/people.png" class="img-fluid rounded-start img-top" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body pt-1">
                                <h3 class="card-title">Setores</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr />
    <div class="container bd" id="register-area" style="float:left"></div>
</section>

@section Scripts {
    <script>
        function reload_js(src) {
            $('script[src="' + src + '"]').remove();
            $('<script>').attr('src', src).appendTo('body');
        }
    </script>
    <script>
        $('#reg-pessoa').click((e) => {
            $.ajax({
                url: `@Url.Action("Index", "Pessoa")`,
                success: (resp) => {
                    $('#register-area').html(resp);
                }
            });
        });
        $('#reg-colaborador').click((e) => {
            $.ajax({
                url: `@Url.Action("Index", "Colaborador")`,
                success: (resp) => {
                    $('#register-area').html(resp);
                }
            });
        });
        $('#reg-funcao').click(() => {
            $.ajax({
                url: `@Url.Action("Index", "Funcao")`,
                success: (resp) => {
                    $('#register-area').html(resp);
                }
            })
        });
        $('#reg-setor').click(() => {
            $.ajax({
                url: `@Url.Action("Index", "Setor")`,
                success: (resp) => {
                    $('#register-area').html(resp);
                }
            })
        });
    </script>
}
